**GitHub repo link:** https://github.com/dpc43/Data271Project

**Introduction:**

California is well-known for its high cost of living. Over the last few decades, significant demographic and economic changes point to these costs becoming even higher than they were in the past, especially in relation to other states. For the first time in recent history, for instance, California had a declining population during the pandemic with many citing the increase in housing costs and the cost of living as their primary reasons for leaving (http://www.ppic.org). In addition to high cost of living, wage stagnation and income inequality are among other factors that may be exacerbating the higher costs of living (https://projects.calmatters.org/2018/digging-data-attainable-california-dream-today/).

To explore this issue in more detail, we will analyze U.S. Census data to see if there are any clear patterns, trends, or relationships between cost of living, income distribution, and demographics in California since the 1990's. We may also compare how the cost of living in California has changed compared to other states within the US. The methods we plan to use to analyze the data include descriptive statistics, data visualization, identification of relationships and patterns, and transforming or creating features for further analysis, as needed. 

The analysis will help address this issue by creating a clearer picture of the long-term economic and demographic trends that may be contributing to California becoming an increasingly harder place to live. It may also help point to whether not these trends are likely to continue in the future. Knowing this information could help consumers of our analysis by highlighting specific factors that could be addressed to help prevent this situation from getting worse and to help move towards improving the quality of life in California both now and in the future.

**Modules:**

These are the modules that will be used for this analsis and the reasons they are necessary:

- **Numpy:** to manipulate data and make calculations efficiently using multi-dimensional arrays
- **Pandas:** to clean, transform, and analyze large datasets using the speed and flexibility of Series and DataFrames
- **Matplotlib:** to enhance control of plot elements when creating data visualizations
- **Seaborn:** to create aesthetically pleasing and informative data visualizations
- **re:** to easily get strings and clean the columns names

In [1]:
# Import Python modules

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style("darkgrid")

**Data Description**:

<u>**Source:**</u> 
All of the datasets are sourced from IPUMS USA, an organization that "collects, preserves and harmonizes U.S. census microdata and provides easy access to this data with enhanced documentation. Data includes decennial censuses from 1790 to 2010 and American Community Surveys (ACS) from 2000 to the present." 

Steven Ruggles, Sarah Flood, Matthew Sobek, Daniel Backman, Grace Cooper, Julia A. Rivera Drew, Stephanie Richards, Renae Rodgers, Jonathan Schroeder, and Kari C.W. Williams. IPUMS USA: Version 16.0 Minneapolis, MN: IPUMS, 2025. https://doi.org/10.18128/D010.V16.0

<u>**Original Purpose:**</u> For the purpose of this analysis, two types of surveys were chosen -- the American Community Survey (ACS) 1-year (for the years 2000, 2006, 2011, 2016, 2021, and 2023) and the 1% Metro Sample Survey (for the year 1990 only since there wasn't yet an ACS survey prior to 2000). The purpose of the ACS 1-year surveys are to provide "vital information on a yearly basis about our nation and its people. Information from the survey generates data that help inform how trillions of dollars in federal funds are distributed each year" (https://www.census.gov/programs-surveys/acs/about.html). For example, in addition to general demographic information like age, sex, and race traditionally gathered in the decennial (10-year) census, the ACS surveys sample the population to gather additional information about jobs and occupations, educational attainment, veterans, whether people own or rent their homes, and more. The 1% Metro Sample Survey was a precursor to the ACS surveys, but had a similar purpose and was chosen for this analysis to provide a broader range of data over a longer time span. 

More detailed descriptions of the surveys used can be found here: https://usa.ipums.org/usa/sampdesc.shtml

<u>**Variables:**</u> While it varies by the year the data were collected, there are approximately 90-95 key variables available in the original dataset (https://www.census.gov/programs-surveys/acs/guidance/subjects.html). For this data analysis, the following variables will be used:

1. YEAR (Census year)
2. SAMPLE (IPUMS sample identifier)
3. SERIAL (Household serial number)
4. CBSERIAL (Original Census Bureau household serial number)
5. HHWT (Household weight)
6. CLUSTER (Household cluster for variance estimation)
7. STATEFIP (State (FIPS code))
8. COUNTYFIP (County (FIPS code, identifiable counties only))
9. STRATA (Household strata for variance estimation)
10. GQ (Group quarters status)
11. OWNERSHP (Ownership of dwelling (tenure) [general version])
12. OWNERSHPD (Ownership of dwelling (tenure) [detailed version])
13. MORTGAGE (Mortgage status)
14. PROPINSR (Annual property insurance cost)
15. RENT (Monthly contract rent)
16. COSTELEC (Annual electricity cost)
17. COSTGAS (Annual gas cost)
18. HHINCOME (Total household income )
19. VALUEH (House value)
20. COUPLETYPE(Householder couple type)
21. NFAMS (Number of families in household)
22. PERNUM (Person number in sample unit)
23. PERWT (Person weight)

<u>**Missing Data:**</u> While missing values are an inherant part of collecting survey data, the US Census Bureau imputes data with a series of complex models. More information here: https://www.census.gov/programs-surveys/sipp/methodology/data-editing-and-imputation.html

<u>**Import/Prepare Data:**</u>

<u>Pre-Import:</u> Because the original dataset was *huge*, it was subsetted by year, survey type, and relevant variables (more information above in data description) prior to importing to help prevent the crashing of the kernel in Jupyter Notebook.

<u>Post-Import:</u> After importing, each dataset was double checked for null and duplicate values. As shown below, this revealed that some datasets had entire columns of missing data, likely due to those variables not being gathered during that particular year.

<u>CAUTION:</u> Even after subsetting, if all of the datasets are imported at once, it may crash the kernel. I'm currently looking into some ways to resolve this issue, but haven't found a good solution yet.

**Import 1990 1% Metro Sample Survey:**

In [2]:
cali_1990_Metro1 = pd.read_csv('CA_Census_1990_Metro1.csv')
cali_1990_Metro1.head()

,YEAR,SAMPLE,SERIAL,CBSERIAL,HHWT,CLUSTER,STATEFIP,COUNTYFIP,STRATA,GQ,...,RACED,EDUC,EDUCD,EMPSTAT,EMPSTATD,OCC,IND,INCTOT,FTOTINC,POVERTY
0,1990,199002,46452,NaN,52,1.990000e+12,6,0,57,1,...,700,0,2,3,30,0,0,3984,3984,53
1,1990,199002,46452,NaN,52,1.990000e+12,6,0,57,1,...,326,4,40,3,30,0,0,0,3984,53
2,1990,199002,46453,NaN,91,1.990000e+12,6,0,44,1,...,100,2,20,1,10,479,10,860,860,13
3,1990,199002,46454,NaN,117,1.990000e+12,6,0,53,1,...,100,3,30,3,30,0,0,13535,16929,226
4,1990,199002,46454,NaN,117,1.990000e+12,6,0,53,1,...,100,5,50,3,30,0,0,3394,16929,226

In [3]:
# Check number of rows and columns
cali_1990_Metro1.shape

(290968, 37)

In [4]:
# Check for missing values
cali_1990_Metro1.isna().sum()[cali_1990_Metro1.isna().sum() > 0]

CBSERIAL      290968
COUPLETYPE    290968
dtype: int64

In [5]:
# Check for duplicate values
cali_1990_Metro1.duplicated().sum()

np.int64(0)

Convert any datatypes that don't make logical sense

In [6]:
#inspect the dataframe first to see the types
cali_1990_Metro1.info()
#datatypes are already appropriate no changes necessary

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 290968 entries, 0 to 290967
Data columns (total 37 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   YEAR        290968 non-null  int64
 1   SAMPLE      290968 non-null  int64
 2   SERIAL      290968 non-null  int64
 3   CBSERIAL    0 non-null       float64
 4   HHWT        290968 non-null  int64
 5   CLUSTER     290968 non-null  float64
 6   STATEFIP    290968 non-null  int64
 7   COUNTYFIP   290968 non-null  int64
 8   STRATA      290968 non-null  int64
 9   GQ          290968 non-null  int64
 10  OWNERSHP    290968 non-null  int64
 11  OWNERSHPD   290968 non-null  int64
 12  MORTGAGE    290968 non-null  int64
 13  PROPINSR    290968 non-null  int64
 14  RENT        290968 non-null  int64
 15  COSTELEC    290968 non-null  int64
 16  COSTGAS     290968 non-null  int64
 17  HHINCOME    290968 non-null  int64
 18  VALUEH      290968 non-null  int64
 19  COUPLETYPE  0 non-null       float64
 20  NFAMS       290968 non-null  int64
 21  PERNUM      290968 non-null  int64
 22  PERWT       290968 non-null  int64
 23  SEX         290968 non-null  int64
 24  AGE         290968 non-null  int64
 25  MARST       290968 non-null  int64
 26  RACE        290968 non-null  int64
 27  RACED       290968 non-null  int64
 28  EDUC        290968 non-null  int64
 29  EDUCD       290968 non-null  int64
 30  EMPSTAT     290968 non-null  int64
 31  EMPSTATD    290968 non-null  int64
 32  OCC         290968 non-null  int64
 33  IND         290968 non-null  int64
 34  INCTOT      290968 non-null  int64
 35  FTOTINC     290968 non-null  int64
 36  POVERTY     290968 non-null  int64
dtypes: float64(3), int64(34)
memory usage: 82.1 MB

In [7]:
#clean up the columns names by applying snake case format and renaming some columns to make them more clear
cali_1990_Metro1.columns=cali_1990_Metro1.columns.str.lower()
cali_1990_Metro1=cali_1990_Metro1.rename(columns={
    'hhwt':'hh_wt',
    'statefip':'state_fip',
    'county_fip':'county_fip',
    'gq':'group_quarters',
    'propinsr':'prop_insr',
    'costelec':'cost_elec',
    'costgas':'cost_gas',
    'hhincome':'hh_income',
    'valueh':'house_val',
    'nfams':'family_num',
    'hhwt':'hh_wt',
    'pernum':'person_num',
    'perwt':'person_wt',
    'empstat':'emp_stat',
    'empstatd':'empl_statd'
    
})
cali_1990_Metro1.columns

Index(['year', 'sample', 'serial', 'cbserial', 'hh_wt', 'cluster', 'state_fip',
       'countyfip', 'strata', 'group_quarters', 'ownershp', 'ownershpd',
       'mortgage', 'prop_insr', 'rent', 'cost_elec', 'cost_gas', 'hh_income',
       'house_val', 'coupletype', 'family_num', 'person_num', 'person_wt',
       'sex', 'age', 'marst', 'race', 'raced', 'educ', 'educd', 'emp_stat',
       'empl_statd', 'occ', 'ind', 'inctot', 'ftotinc', 'poverty'],
      dtype='object')

Add the cleaned file to the directory so we can make a combined dataframe for analysis purposes

In [8]:
cali_1990_Metro1.to_csv('Cleaned_CA_Census_1990.csv', index=False)

**Import ACS 2000 1-Year Data:**

In [9]:
cali_2000_ACS1 = pd.read_csv('CA_Census_2000_ACS1.csv')
cali_2000_ACS1.head()

,YEAR,SAMPLE,SERIAL,CBSERIAL,HHWT,CLUSTER,STATEFIP,COUNTYFIP,STRATA,GQ,...,RACED,EDUC,EDUCD,EMPSTAT,EMPSTATD,OCC,IND,INCTOT,FTOTINC,POVERTY
0,2000,200004,7,NaN,600,2.000000e+12,6,NaN,6,1,...,100,10,101,1,10,330,819,52000,177000,501
1,2000,200004,7,NaN,600,2.000000e+12,6,NaN,6,1,...,100,11,114,1,10,260,657,125000,177000,501
2,2000,200004,21,NaN,1800,2.000000e+12,6,NaN,6,1,...,700,6,62,1,10,524,639,6000,6000,44
3,2000,200004,21,NaN,1800,2.000000e+12,6,NaN,6,1,...,700,0,1,0,0,0,0,9999999,6000,44
4,2000,200004,21,NaN,1800,2.000000e+12,6,NaN,6,1,...,700,1,10,0,0,0,0,9999999,6000,44

In [10]:
# Check number of rows and columns
cali_2000_ACS1.shape

(38143, 37)

In [11]:
# Check for missing values
cali_2000_ACS1.isna().sum()[cali_2000_ACS1.isna().sum() > 0]

CBSERIAL      38143
COUNTYFIP     38143
COUPLETYPE    38143
dtype: int64

In [12]:
# Check for duplicate values
cali_2000_ACS1.duplicated().sum()

np.int64(0)

In [13]:
#inspect the dataframe first to see the types
cali_2000_ACS1.info()
#datatypes are already appropriate no changes necessary

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38143 entries, 0 to 38142
Data columns (total 37 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   YEAR        38143 non-null  int64
 1   SAMPLE      38143 non-null  int64
 2   SERIAL      38143 non-null  int64
 3   CBSERIAL    0 non-null      float64
 4   HHWT        38143 non-null  int64
 5   CLUSTER     38143 non-null  float64
 6   STATEFIP    38143 non-null  int64
 7   COUNTYFIP   0 non-null      float64
 8   STRATA      38143 non-null  int64
 9   GQ          38143 non-null  int64
 10  OWNERSHP    38143 non-null  int64
 11  OWNERSHPD   38143 non-null  int64
 12  MORTGAGE    38143 non-null  int64
 13  PROPINSR    38143 non-null  int64
 14  RENT        38143 non-null  int64
 15  COSTELEC    38143 non-null  int64
 16  COSTGAS     38143 non-null  int64
 17  HHINCOME    38143 non-null  int64
 18  VALUEH      38143 non-null  int64
 19  COUPLETYPE  0 non-null      float64
 20  NFAMS       38143 non-null  int64
 21  PERNUM      38143 non-null  int64
 22  PERWT       38143 non-null  int64
 23  SEX         38143 non-null  int64
 24  AGE         38143 non-null  int64
 25  MARST       38143 non-null  int64
 26  RACE        38143 non-null  int64
 27  RACED       38143 non-null  int64
 28  EDUC        38143 non-null  int64
 29  EDUCD       38143 non-null  int64
 30  EMPSTAT     38143 non-null  int64
 31  EMPSTATD    38143 non-null  int64
 32  OCC         38143 non-null  int64
 33  IND         38143 non-null  int64
 34  INCTOT      38143 non-null  int64
 35  FTOTINC     38143 non-null  int64
 36  POVERTY     38143 non-null  int64
dtypes: float64(4), int64(33)
memory usage: 10.8 MB

In [14]:
#clean up the columns names by applying snake case format and renaming some columns to make them more clear
cali_2000_ACS1.columns=cali_2000_ACS1.columns.str.lower()
cali_2000_ACS1=cali_2000_ACS1.rename(columns={
    'hhwt':'hh_wt',
    'statefip':'state_fip',
    'county_fip':'county_fip',
    'gq':'group_quarters',
    'propinsr':'prop_insr',
    'costelec':'cost_elec',
    'costgas':'cost_gas',
    'hhincome':'hh_income',
    'valueh':'house_val',
    'nfams':'family_num',
    'hhwt':'hh_wt',
    'pernum':'person_num',
    'perwt':'person_wt',
    'empstat':'emp_stat',
    'empstatd':'empl_statd'  
})
cali_2000_ACS1.columns

Index(['year', 'sample', 'serial', 'cbserial', 'hh_wt', 'cluster', 'state_fip',
       'countyfip', 'strata', 'group_quarters', 'ownershp', 'ownershpd',
       'mortgage', 'prop_insr', 'rent', 'cost_elec', 'cost_gas', 'hh_income',
       'house_val', 'coupletype', 'family_num', 'person_num', 'person_wt',
       'sex', 'age', 'marst', 'race', 'raced', 'educ', 'educd', 'emp_stat',
       'empl_statd', 'occ', 'ind', 'inctot', 'ftotinc', 'poverty'],
      dtype='object')

Add the cleaned file to the directory so we can make a combined dataframe for analysis purposes

In [15]:
cali_2000_ACS1.to_csv('Cleaned_CA_Census_2000.csv', index=False)

**Import ACS 2006 1-Year Data:**

In [16]:
cali_2006_ACS1 = pd.read_csv('CA_Census_2006_ACS1.csv')
cali_2006_ACS1.head()

,YEAR,SAMPLE,SERIAL,CBSERIAL,HHWT,CLUSTER,STATEFIP,COUNTYFIP,STRATA,GQ,...,RACED,EDUC,EDUCD,EMPSTAT,EMPSTATD,OCC,IND,INCTOT,FTOTINC,POVERTY
0,2006,200601,65922,1,113,2.006000e+12,6,85,271006,1,...,100,6,62,2,20,9120,6180,41500,45700,381
1,2006,200601,65922,1,113,2.006000e+12,6,85,271006,1,...,100,2,21,3,30,5700,7690,4200,45700,381
2,2006,200601,65923,2,65,2.006000e+12,6,37,541606,1,...,100,7,71,1,10,5700,7590,14880,23880,119
3,2006,200601,65923,2,65,2.006000e+12,6,37,541606,1,...,100,1,10,0,0,0,0,9999999,23880,119
4,2006,200601,65923,2,65,2.006000e+12,6,37,541606,1,...,100,1,10,0,0,0,0,9999999,23880,119

In [17]:
# Check number of rows and columns
cali_2006_ACS1.shape

(345723, 37)

In [18]:
# Check for missing values
cali_2006_ACS1.isna().sum()[cali_2006_ACS1.isna().sum() > 0]

COUPLETYPE    345723
dtype: int64

In [19]:
# Check for duplicate values
cali_2006_ACS1.duplicated().sum()

np.int64(0)

In [20]:
#inspect the dataframe first to see the types
cali_2006_ACS1.info()
#datatypes are already appropriate no changes necessary

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 345723 entries, 0 to 345722
Data columns (total 37 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   YEAR        345723 non-null  int64
 1   SAMPLE      345723 non-null  int64
 2   SERIAL      345723 non-null  int64
 3   CBSERIAL    345723 non-null  int64
 4   HHWT        345723 non-null  int64
 5   CLUSTER     345723 non-null  float64
 6   STATEFIP    345723 non-null  int64
 7   COUNTYFIP   345723 non-null  int64
 8   STRATA      345723 non-null  int64
 9   GQ          345723 non-null  int64
 10  OWNERSHP    345723 non-null  int64
 11  OWNERSHPD   345723 non-null  int64
 12  MORTGAGE    345723 non-null  int64
 13  PROPINSR    345723 non-null  int64
 14  RENT        345723 non-null  int64
 15  COSTELEC    345723 non-null  int64
 16  COSTGAS     345723 non-null  int64
 17  HHINCOME    345723 non-null  int64
 18  VALUEH      345723 non-null  int64
 19  COUPLETYPE  0 non-null       float64
 20  NFAMS       345723 non-null  int64
 21  PERNUM      345723 non-null  int64
 22  PERWT       345723 non-null  int64
 23  SEX         345723 non-null  int64
 24  AGE         345723 non-null  int64
 25  MARST       345723 non-null  int64
 26  RACE        345723 non-null  int64
 27  RACED       345723 non-null  int64
 28  EDUC        345723 non-null  int64
 29  EDUCD       345723 non-null  int64
 30  EMPSTAT     345723 non-null  int64
 31  EMPSTATD    345723 non-null  int64
 32  OCC         345723 non-null  int64
 33  IND         345723 non-null  int64
 34  INCTOT      345723 non-null  int64
 35  FTOTINC     345723 non-null  int64
 36  POVERTY     345723 non-null  int64
dtypes: float64(2), int64(35)
memory usage: 97.6 MB

In [21]:
#clean up the columns names by applying snake case format and renaming some columns to make them more clear
cali_2006_ACS1.columns=cali_2006_ACS1.columns.str.lower()
cali_2006_ACS1=cali_2006_ACS1.rename(columns={
    'hhwt':'hh_wt',
    'statefip':'state_fip',
    'county_fip':'county_fip',
    'gq':'group_quarters',
    'propinsr':'prop_insr',
    'costelec':'cost_elec',
    'costgas':'cost_gas',
    'hhincome':'hh_income',
    'valueh':'house_val',
    'nfams':'family_num',
    'hhwt':'hh_wt',
    'pernum':'person_num',
    'perwt':'person_wt',
    'empstat':'emp_stat',
    'empstatd':'empl_statd'  
})
cali_2006_ACS1.columns

Index(['year', 'sample', 'serial', 'cbserial', 'hh_wt', 'cluster', 'state_fip',
       'countyfip', 'strata', 'group_quarters', 'ownershp', 'ownershpd',
       'mortgage', 'prop_insr', 'rent', 'cost_elec', 'cost_gas', 'hh_income',
       'house_val', 'coupletype', 'family_num', 'person_num', 'person_wt',
       'sex', 'age', 'marst', 'race', 'raced', 'educ', 'educd', 'emp_stat',
       'empl_statd', 'occ', 'ind', 'inctot', 'ftotinc', 'poverty'],
      dtype='object')

Add the cleaned file to the directory so we can make a combined dataframe for analysis purposes

In [22]:
cali_2006_ACS1.to_csv('Cleaned_CA_Census_2006.csv', index=False)

**Import ACS 2011 1-Year Data:**

In [23]:
cali_2011_ACS1 = pd.read_csv('CA_Census_2011_ACS1.csv')
cali_2011_ACS1.head()

,YEAR,SAMPLE,SERIAL,CBSERIAL,HHWT,CLUSTER,STATEFIP,COUNTYFIP,STRATA,GQ,...,RACED,EDUC,EDUCD,EMPSTAT,EMPSTATD,OCC,IND,INCTOT,FTOTINC,POVERTY
0,2011,201101,66400,9,55.0,2011000664001,6,0,80006,1,...,700,6,63,1,10,3645,8090,24000,74000,500
1,2011,201101,66400,9,55.0,2011000664001,6,0,80006,1,...,700,6,65,1,10,9130,4580,50000,74000,500
2,2011,201101,66401,13,36.0,2011000664011,6,37,611306,1,...,700,6,65,1,10,5700,6990,29300,29300,255
3,2011,201101,66402,33,54.0,2011000664021,6,0,80006,1,...,610,6,61,1,10,4720,4980,12600,12600,85
4,2011,201101,66402,33,54.0,2011000664021,6,0,80006,1,...,100,5,50,3,30,0,0,0,12600,85

In [24]:
# Check number of rows and columns
cali_2011_ACS1.shape

(368809, 36)

In [25]:
# Check for missing values
cali_2011_ACS1.isna().sum()[cali_2011_ACS1.isna().sum() > 0]

Series([], dtype: int64)

In [26]:
# Check for duplicate values
cali_2011_ACS1.duplicated().sum()

np.int64(0)

In [27]:
#inspect the dataframe first to see the types
cali_2011_ACS1.info()
#datatypes are already appropriate no changes necessary

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 368809 entries, 0 to 368808
Data columns (total 36 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   YEAR       368809 non-null  int64
 1   SAMPLE     368809 non-null  int64
 2   SERIAL     368809 non-null  int64
 3   CBSERIAL   368809 non-null  int64
 4   HHWT       368809 non-null  float64
 5   CLUSTER    368809 non-null  int64
 6   STATEFIP   368809 non-null  int64
 7   COUNTYFIP  368809 non-null  int64
 8   STRATA     368809 non-null  int64
 9   GQ         368809 non-null  int64
 10  OWNERSHP   368809 non-null  int64
 11  OWNERSHPD  368809 non-null  int64
 12  MORTGAGE   368809 non-null  int64
 13  PROPINSR   368809 non-null  int64
 14  RENT       368809 non-null  int64
 15  COSTELEC   368809 non-null  int64
 16  COSTGAS    368809 non-null  int64
 17  HHINCOME   368809 non-null  int64
 18  VALUEH     368809 non-null  int64
 19  NFAMS      368809 non-null  int64
 20  PERNUM     368809 non-null  int64
 21  PERWT      368809 non-null  float64
 22  SEX        368809 non-null  int64
 23  AGE        368809 non-null  int64
 24  MARST      368809 non-null  int64
 25  RACE       368809 non-null  int64
 26  RACED      368809 non-null  int64
 27  EDUC       368809 non-null  int64
 28  EDUCD      368809 non-null  int64
 29  EMPSTAT    368809 non-null  int64
 30  EMPSTATD   368809 non-null  int64
 31  OCC        368809 non-null  int64
 32  IND        368809 non-null  int64
 33  INCTOT     368809 non-null  int64
 34  FTOTINC    368809 non-null  int64
 35  POVERTY    368809 non-null  int64
dtypes: float64(2), int64(34)
memory usage: 101.3 MB

In [28]:
#clean up the columns names by applying snake case format and renaming some columns to make them more clear
cali_2011_ACS1.columns=cali_2011_ACS1.columns.str.lower()
cali_2011_ACS1=cali_2011_ACS1.rename(columns={
    'hhwt':'hh_wt',
    'statefip':'state_fip',
    'county_fip':'county_fip',
    'gq':'group_quarters',
    'propinsr':'prop_insr',
    'costelec':'cost_elec',
    'costgas':'cost_gas',
    'hhincome':'hh_income',
    'valueh':'house_val',
    'nfams':'family_num',
    'hhwt':'hh_wt',
    'pernum':'person_num',
    'perwt':'person_wt',
    'empstat':'emp_stat',
    'empstatd':'empl_statd'  
})
cali_2011_ACS1.columns

Index(['year', 'sample', 'serial', 'cbserial', 'hh_wt', 'cluster', 'state_fip',
       'countyfip', 'strata', 'group_quarters', 'ownershp', 'ownershpd',
       'mortgage', 'prop_insr', 'rent', 'cost_elec', 'cost_gas', 'hh_income',
       'house_val', 'family_num', 'person_num', 'person_wt', 'sex', 'age',
       'marst', 'race', 'raced', 'educ', 'educd', 'emp_stat', 'empl_statd',
       'occ', 'ind', 'inctot', 'ftotinc', 'poverty'],
      dtype='object')

Add the cleaned file to the directory so we can make a combined dataframe for analysis purposes

In [29]:
cali_2011_ACS1.to_csv('Cleaned_CA_Census_2011.csv', index=False)

**Import ACS 2016 1-Year Data:**

In [30]:
cali_2016_ACS1 = pd.read_csv('CA_Census_2016_ACS1.csv')
cali_2016_ACS1.head()

,YEAR,SAMPLE,SERIAL,CBSERIAL,HHWT,CLUSTER,STATEFIP,COUNTYFIP,STRATA,GQ,...,RACED,EDUC,EDUCD,EMPSTAT,EMPSTATD,OCC,IND,INCTOT,FTOTINC,POVERTY
0,2016,201601,67752,33,102,2.016000e+12,6,107,1070206,1,...,976,8,81,3,30,0,0,20000,54000,375
1,2016,201601,67752,33,102,2.016000e+12,6,107,1070206,1,...,865,6,65,3,30,0,0,34000,54000,375
2,2016,201601,67753,36,122,2.016000e+12,6,65,651406,1,...,801,7,71,1,10,4760,5080,14300,41500,223
3,2016,201601,67753,36,122,2.016000e+12,6,65,651406,1,...,100,6,63,1,10,4760,4770,15700,41500,223
4,2016,201601,67753,36,122,2.016000e+12,6,65,651406,1,...,801,6,65,2,20,4760,5080,11500,41500,223

In [31]:
# Check number of rows and columns
cali_2016_ACS1.shape

(376035, 36)

In [32]:
# Check for missing values
cali_2016_ACS1.isna().sum()[cali_2016_ACS1.isna().sum() > 0]

Series([], dtype: int64)

In [33]:
# Check for duplicate values
cali_2016_ACS1.duplicated().sum()

np.int64(0)

In [34]:
#inspect the dataframe first to see the types
cali_2016_ACS1.info()
#datatypes are already appropriate no changes necessary

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 376035 entries, 0 to 376034
Data columns (total 36 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   YEAR       376035 non-null  int64
 1   SAMPLE     376035 non-null  int64
 2   SERIAL     376035 non-null  int64
 3   CBSERIAL   376035 non-null  int64
 4   HHWT       376035 non-null  int64
 5   CLUSTER    376035 non-null  float64
 6   STATEFIP   376035 non-null  int64
 7   COUNTYFIP  376035 non-null  int64
 8   STRATA     376035 non-null  int64
 9   GQ         376035 non-null  int64
 10  OWNERSHP   376035 non-null  int64
 11  OWNERSHPD  376035 non-null  int64
 12  MORTGAGE   376035 non-null  int64
 13  PROPINSR   376035 non-null  int64
 14  RENT       376035 non-null  int64
 15  COSTELEC   376035 non-null  int64
 16  COSTGAS    376035 non-null  int64
 17  HHINCOME   376035 non-null  int64
 18  VALUEH     376035 non-null  int64
 19  NFAMS      376035 non-null  int64
 20  PERNUM     376035 non-null  int64
 21  PERWT      376035 non-null  int64
 22  SEX        376035 non-null  int64
 23  AGE        376035 non-null  int64
 24  MARST      376035 non-null  int64
 25  RACE       376035 non-null  int64
 26  RACED      376035 non-null  int64
 27  EDUC       376035 non-null  int64
 28  EDUCD      376035 non-null  int64
 29  EMPSTAT    376035 non-null  int64
 30  EMPSTATD   376035 non-null  int64
 31  OCC        376035 non-null  int64
 32  IND        376035 non-null  int64
 33  INCTOT     376035 non-null  int64
 34  FTOTINC    376035 non-null  int64
 35  POVERTY    376035 non-null  int64
dtypes: float64(1), int64(35)
memory usage: 103.3 MB

In [35]:
#clean up the columns names by applying snake case format and renaming some columns to make them more clear
cali_2016_ACS1.columns=cali_2016_ACS1.columns.str.lower()
cali_2016_ACS1=cali_2016_ACS1.rename(columns={
    'hhwt':'hh_wt',
    'statefip':'state_fip',
    'county_fip':'county_fip',
    'gq':'group_quarters',
    'propinsr':'prop_insr',
    'costelec':'cost_elec',
    'costgas':'cost_gas',
    'hhincome':'hh_income',
    'valueh':'house_val',
    'nfams':'family_num',
    'hhwt':'hh_wt',
    'pernum':'person_num',
    'perwt':'person_wt',
    'empstat':'emp_stat',
    'empstatd':'empl_statd'  
})
cali_2016_ACS1.columns

Index(['year', 'sample', 'serial', 'cbserial', 'hh_wt', 'cluster', 'state_fip',
       'countyfip', 'strata', 'group_quarters', 'ownershp', 'ownershpd',
       'mortgage', 'prop_insr', 'rent', 'cost_elec', 'cost_gas', 'hh_income',
       'house_val', 'family_num', 'person_num', 'person_wt', 'sex', 'age',
       'marst', 'race', 'raced', 'educ', 'educd', 'emp_stat', 'empl_statd',
       'occ', 'ind', 'inctot', 'ftotinc', 'poverty'],
      dtype='object')

Add the cleaned file to the directory so we can make a combined dataframe for analysis purposes

In [36]:
cali_2016_ACS1.to_csv('Cleaned_CA_Census_2016.csv', index=False)

**Import ACS 2021 1-Year Data:**

In [37]:
cali_2021_ACS1 = pd.read_csv('CA_Census_2021_ACS1.csv')
cali_2021_ACS1.head()

,YEAR,SAMPLE,SERIAL,CBSERIAL,HHWT,CLUSTER,STATEFIP,COUNTYFIP,STRATA,GQ,...,RACED,EDUC,EDUCD,EMPSTAT,EMPSTATD,OCC,IND,INCTOT,FTOTINC,POVERTY
0,2021,202101,71725,2.021010e+12,177,2.021000e+12,6,37,374106,4,...,100,0,2,3,30,0,0,15000,9999999,0
1,2021,202101,71726,2.021010e+12,14,2.021000e+12,6,111,1110206,3,...,100,10,101,3,30,0,0,14800,9999999,0
2,2021,202101,71727,2.021010e+12,14,2.021000e+12,6,67,671206,4,...,100,6,63,3,30,0,0,11300,9999999,0
3,2021,202101,71728,2.021010e+12,19,2.021000e+12,6,55,550006,4,...,100,10,101,3,30,2633,9570,14000,9999999,0
4,2021,202101,71729,2.021010e+12,17,2.021000e+12,6,37,373506,4,...,100,8,81,2,20,4760,5170,7600,9999999,0

In [38]:
# Check number of rows and columns
cali_2021_ACS1.shape

(386061, 36)

In [39]:
# Check for missing values
cali_2021_ACS1.isna().sum()[cali_2021_ACS1.isna().sum() > 0]

Series([], dtype: int64)

In [40]:
# Check for duplicate values
cali_2021_ACS1.duplicated().sum()

np.int64(0)

In [41]:
#inspect the dataframe first to see the types
cali_2021_ACS1.info()
#datatypes are already appropriate no changes necessary

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 386061 entries, 0 to 386060
Data columns (total 36 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   YEAR       386061 non-null  int64
 1   SAMPLE     386061 non-null  int64
 2   SERIAL     386061 non-null  int64
 3   CBSERIAL   386061 non-null  float64
 4   HHWT       386061 non-null  int64
 5   CLUSTER    386061 non-null  float64
 6   STATEFIP   386061 non-null  int64
 7   COUNTYFIP  386061 non-null  int64
 8   STRATA     386061 non-null  int64
 9   GQ         386061 non-null  int64
 10  OWNERSHP   386061 non-null  int64
 11  OWNERSHPD  386061 non-null  int64
 12  MORTGAGE   386061 non-null  int64
 13  PROPINSR   386061 non-null  int64
 14  RENT       386061 non-null  int64
 15  COSTELEC   386061 non-null  int64
 16  COSTGAS    386061 non-null  int64
 17  HHINCOME   386061 non-null  int64
 18  VALUEH     386061 non-null  int64
 19  NFAMS      386061 non-null  int64
 20  PERNUM     386061 non-null  int64
 21  PERWT      386061 non-null  int64
 22  SEX        386061 non-null  int64
 23  AGE        386061 non-null  int64
 24  MARST      386061 non-null  int64
 25  RACE       386061 non-null  int64
 26  RACED      386061 non-null  int64
 27  EDUC       386061 non-null  int64
 28  EDUCD      386061 non-null  int64
 29  EMPSTAT    386061 non-null  int64
 30  EMPSTATD   386061 non-null  int64
 31  OCC        386061 non-null  int64
 32  IND        386061 non-null  int64
 33  INCTOT     386061 non-null  int64
 34  FTOTINC    386061 non-null  int64
 35  POVERTY    386061 non-null  int64
dtypes: float64(2), int64(34)
memory usage: 106.0 MB

In [42]:
#clean up the columns names by applying snake case format and renaming some columns to make them more clear
cali_2021_ACS1.columns=cali_2021_ACS1.columns.str.lower()
cali_2021_ACS1=cali_2021_ACS1.rename(columns={
    'hhwt':'hh_wt',
    'statefip':'state_fip',
    'county_fip':'county_fip',
    'gq':'group_quarters',
    'propinsr':'prop_insr',
    'costelec':'cost_elec',
    'costgas':'cost_gas',
    'hhincome':'hh_income',
    'valueh':'house_val',
    'nfams':'family_num',
    'hhwt':'hh_wt',
    'pernum':'person_num',
    'perwt':'person_wt',
    'empstat':'emp_stat',
    'empstatd':'empl_statd'  
})
cali_2021_ACS1.columns

Index(['year', 'sample', 'serial', 'cbserial', 'hh_wt', 'cluster', 'state_fip',
       'countyfip', 'strata', 'group_quarters', 'ownershp', 'ownershpd',
       'mortgage', 'prop_insr', 'rent', 'cost_elec', 'cost_gas', 'hh_income',
       'house_val', 'family_num', 'person_num', 'person_wt', 'sex', 'age',
       'marst', 'race', 'raced', 'educ', 'educd', 'emp_stat', 'empl_statd',
       'occ', 'ind', 'inctot', 'ftotinc', 'poverty'],
      dtype='object')

Add the cleaned file to the directory so we can make a combined dataframe for analysis purposes

In [43]:
cali_2021_ACS1.to_csv('Cleaned_CA_Census_2021.csv', index=False)

**Import ACS 2023 1-Year Data:**

In [44]:
cali_2023_ACS1 = pd.read_csv('CA_Census_2023_ACS1.csv')
cali_2023_ACS1.head()

,YEAR,SAMPLE,SERIAL,CBSERIAL,HHWT,CLUSTER,STATEFIP,COUNTYFIP,STRATA,GQ,...,RACED,EDUC,EDUCD,EMPSTAT,EMPSTATD,OCC,IND,INCTOT,FTOTINC,POVERTY
0,2023,202301,76841,2023010000009,85.0,2023000768411,6,59,592406,4,...,700,7,71,1,10,4055,8680,3600,9999999,0
1,2023,202301,76842,2023010000028,60.0,2023000768421,6,85,851506,4,...,100,7,71,1,10,2850,8564,800,9999999,0
2,2023,202301,76843,2023010000030,27.0,2023000768431,6,25,250006,3,...,200,4,40,3,30,0,0,0,9999999,0
3,2023,202301,76844,2023010000033,23.0,2023000768441,6,59,591606,4,...,100,10,101,3,30,0,0,2700,9999999,0
4,2023,202301,76845,2023010000052,51.0,2023000768451,6,81,810606,4,...,100,8,81,1,10,2850,8564,1800,9999999,0

In [45]:
# Check number of rows and columns
cali_2023_ACS1.shape

(392318, 36)

In [46]:
# Check for missing values
cali_2023_ACS1.isna().sum()[cali_2023_ACS1.isna().sum() > 0]

Series([], dtype: int64)

In [47]:
# Check for duplicate values
cali_2023_ACS1.duplicated().sum()

np.int64(0)

In [48]:
#inspect the dataframe first to see the types
cali_2023_ACS1.info()
#datatypes are already appropriate no changes necessary

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 392318 entries, 0 to 392317
Data columns (total 36 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   YEAR       392318 non-null  int64
 1   SAMPLE     392318 non-null  int64
 2   SERIAL     392318 non-null  int64
 3   CBSERIAL   392318 non-null  int64
 4   HHWT       392318 non-null  float64
 5   CLUSTER    392318 non-null  int64
 6   STATEFIP   392318 non-null  int64
 7   COUNTYFIP  392318 non-null  int64
 8   STRATA     392318 non-null  int64
 9   GQ         392318 non-null  int64
 10  OWNERSHP   392318 non-null  int64
 11  OWNERSHPD  392318 non-null  int64
 12  MORTGAGE   392318 non-null  int64
 13  PROPINSR   392318 non-null  int64
 14  RENT       392318 non-null  int64
 15  COSTELEC   392318 non-null  int64
 16  COSTGAS    392318 non-null  int64
 17  HHINCOME   392318 non-null  int64
 18  VALUEH     392318 non-null  int64
 19  NFAMS      392318 non-null  int64
 20  PERNUM     392318 non-null  int64
 21  PERWT      392318 non-null  float64
 22  SEX        392318 non-null  int64
 23  AGE        392318 non-null  int64
 24  MARST      392318 non-null  int64
 25  RACE       392318 non-null  int64
 26  RACED      392318 non-null  int64
 27  EDUC       392318 non-null  int64
 28  EDUCD      392318 non-null  int64
 29  EMPSTAT    392318 non-null  int64
 30  EMPSTATD   392318 non-null  int64
 31  OCC        392318 non-null  int64
 32  IND        392318 non-null  int64
 33  INCTOT     392318 non-null  int64
 34  FTOTINC    392318 non-null  int64
 35  POVERTY    392318 non-null  int64
dtypes: float64(2), int64(34)
memory usage: 107.8 MB

In [49]:
#clean up the columns names by applying snake case format and renaming some columns to make them more clear
cali_2023_ACS1.columns=cali_2023_ACS1.columns.str.lower()
cali_2023_ACS1=cali_2023_ACS1.rename(columns={
    'hhwt':'hh_wt',
    'statefip':'state_fip',
    'county_fip':'county_fip',
    'gq':'group_quarters',
    'propinsr':'prop_insr',
    'costelec':'cost_elec',
    'costgas':'cost_gas',
    'hhincome':'hh_income',
    'valueh':'house_val',
    'nfams':'family_num',
    'hhwt':'hh_wt',
    'pernum':'person_num',
    'perwt':'person_wt',
    'empstat':'emp_stat',
    'empstatd':'empl_statd'  
})
cali_2023_ACS1.columns

Index(['year', 'sample', 'serial', 'cbserial', 'hh_wt', 'cluster', 'state_fip',
       'countyfip', 'strata', 'group_quarters', 'ownershp', 'ownershpd',
       'mortgage', 'prop_insr', 'rent', 'cost_elec', 'cost_gas', 'hh_income',
       'house_val', 'family_num', 'person_num', 'person_wt', 'sex', 'age',
       'marst', 'race', 'raced', 'educ', 'educd', 'emp_stat', 'empl_statd',
       'occ', 'ind', 'inctot', 'ftotinc', 'poverty'],
      dtype='object')

Add the cleaned file to the directory so we can make a combined dataframe for analysis purposes

In [50]:
cali_2023_ACS1.to_csv('Cleaned_CA_Census_2023.csv', index=False)

**Import the cleaned individual csv files and combine them into one new file**

In [51]:
dataset_names=['Cleaned_CA_Census_2000.csv','Cleaned_CA_Census_2021.csv','Cleaned_CA_Census_2016.csv','Cleaned_CA_Census_2011.csv','Cleaned_CA_Census_2006.csv','Cleaned_CA_Census_2023.csv','Cleaned_CA_Census_1990.csv']

dataframes = []
for name in dataset_names:
    print("Loading", name)
    df = pd.read_csv(name)
    dataframes.append(df)

# Concatenate all DataFrames vertically
combined_df = pd.concat(dataframes, ignore_index=True)

# Save to a single CSV
combined_df.to_csv('combined_census_data.csv', index=False)
print("Success, all datasets merged!")

Loading Cleaned_CA_Census_2000.csv
Loading Cleaned_CA_Census_2021.csv
Loading Cleaned_CA_Census_2016.csv
Loading Cleaned_CA_Census_2011.csv
Loading Cleaned_CA_Census_2006.csv
Loading Cleaned_CA_Census_2023.csv
Loading Cleaned_CA_Census_1990.csv
Success, all datasets merged!

<h3>Inspect the data to make sure the data cleaning worked and the datasets are all properly combined</h3>

Checking the number of rows and columns for the full dataset

In [52]:
census_data = pd.read_csv('combined_census_data.csv')

In [53]:
census_data.head()

,year,sample,serial,cbserial,hh_wt,cluster,state_fip,countyfip,strata,group_quarters,...,raced,educ,educd,emp_stat,empl_statd,occ,ind,inctot,ftotinc,poverty
0,2000,200004,7,NaN,600.0,2.000000e+12,6,NaN,6,1,...,100,10,101,1,10,330,819,52000,177000,501
1,2000,200004,7,NaN,600.0,2.000000e+12,6,NaN,6,1,...,100,11,114,1,10,260,657,125000,177000,501
2,2000,200004,21,NaN,1800.0,2.000000e+12,6,NaN,6,1,...,700,6,62,1,10,524,639,6000,6000,44
3,2000,200004,21,NaN,1800.0,2.000000e+12,6,NaN,6,1,...,700,0,1,0,0,0,0,9999999,6000,44
4,2000,200004,21,NaN,1800.0,2.000000e+12,6,NaN,6,1,...,700,1,10,0,0,0,0,9999999,6000,44

In [54]:
census_data.shape

(2198057, 37)

**Do any final data cleaning steps**

In [55]:
census_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2198057 entries, 0 to 2198056
Data columns (total 37 columns):
 #   Column          Dtype
---  ------          -----
 0   year            int64
 1   sample          int64
 2   serial          int64
 3   cbserial        float64
 4   hh_wt           float64
 5   cluster         float64
 6   state_fip       int64
 7   countyfip       float64
 8   strata          int64
 9   group_quarters  int64
 10  ownershp        int64
 11  ownershpd       int64
 12  mortgage        int64
 13  prop_insr       int64
 14  rent            int64
 15  cost_elec       int64
 16  cost_gas        int64
 17  hh_income       int64
 18  house_val       int64
 19  coupletype      float64
 20  family_num      int64
 21  person_num      int64
 22  person_wt       float64
 23  sex             int64
 24  age             int64
 25  marst           int64
 26  race            int64
 27  raced           int64
 28  educ            int64
 29  educd           int64
 30  emp_stat        int64
 31  empl_statd      int64
 32  occ             int64
 33  ind             int64
 34  inctot          int64
 35  ftotinc         int64
 36  poverty         int64
dtypes: float64(6), int64(31)
memory usage: 620.5 MB

In [56]:
census_data.duplicated().sum()

np.int64(0)

In [57]:
census_data.isna().sum()[census_data.isna().sum() > 0]

cbserial       329111
countyfip       38143
coupletype    2198057
dtype: int64

In [58]:
#drop coupletype column as it only contains null values
census_data=census_data.drop(columns='coupletype')
census_data.shape

(2198057, 36)

In [59]:
#check for any columns that aren't useful (contain only one value)
(census_data.nunique()==1)[census_data.nunique()== 1]

state_fip    True
dtype: bool

In [60]:
census_data=census_data.drop(columns='state_fip')
census_data.shape

(2198057, 35)